<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap"
    rel="stylesheet"
  />

  <title>Editar habilidad</title>
</head>

<body>


<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img
          src="assets/img/undraw_remotely_2j6y.svg"
          alt="Image"
          class="img-fluid"
        />
      </div>
      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4">
              <h3>Editar habilidad</h3>
              <p class="mb-4">
                Desde aquí podrás editar las habilidades soft o hard del portfolio.
              </p>
            </div>

            <!-- FORM -->

            <form #f="ngForm" (ngSubmit)="onUpdate()">
              <span class="mb-4"><label for="nombreE">Nombre:</label></span>

              <div class="form-group first">
                <input
                  type="text"
                  class="form-control"
                  name="nombre"
                  id="nombre"
                  [(ngModel)]="expLab.nombre"
                  required
                />
              </div>

              <div><p></p></div>
              <span class="mb-4"><label for="descripcionE">Porcentaje de desarrollo:</label></span>

              <div class="form-group last mb-4">
                <input
                type="text"
                  class="form-control"
                  name="porcentual"
                  id="porcentual"
                  [(ngModel)]="expLab.porcentual"
                  required
                />
              </div>

              <div><p></p></div>

              <input
                type="submit"
                value="Modificar"
                class="btn btn-block btn-primary"
              />
            </form>

            <!-- termina el FORM -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
