<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap"
    rel="stylesheet"
  />

  <title>Nueva educación</title>
</head>

<body>


<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img
          src="assets/img/undraw_remotely_2j6y.svg"
          alt="Image"
          class="img-fluid"
        />
      </div>
      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4">
              <h3>Editar educación</h3>
              <p class="mb-4">
                Desde aquí podrás modificar las experiencias educativas del portfolio.
              </p>
            </div>

            <!-- FORM -->

            <form #f="ngForm" (ngSubmit)="onUpdate()">
              <span class="mb-4"><label for="grado">Grado o tìtulo adquirido:</label></span>

              <div class="form-group first">
                <input
                  type="text"
                  class="form-control"
                  name="grado"
                  id="grado"
                  [(ngModel)]="expLab.grado"
                  required
                />
              </div>

              <div><p></p></div>
              <span class="mb-4"><label for="escuela">Institución educativa:</label></span>

              <div class="form-group last mb-4">
                <input
                type="text"
                  class="form-control"
                  name="escuela"
                  id="escuela"
                  [(ngModel)]="expLab.escuela"
                  required
                />
              </div>

              <div><p></p></div>
              <span class="mb-4"><label for="ingreso">Ingreso:</label></span>

              <div class="form-group last mb-4">
                <input
                type="text"
                  class="form-control"
                  name="ingreso"
                  id="ingreso"
                  [(ngModel)]="expLab.ingreso"
                  required
                />
              </div>

              <div><p></p></div>
              <span class="mb-4"><label for="egreso">Egreso:</label></span>

              <div class="form-group last mb-4">
                <input
                type="text"
                  class="form-control"
                  name="egreso"
                  id="egreso"
                  [(ngModel)]="expLab.egreso"
                  required
                />
              </div>

              <div><p></p></div>
              <span class="mb-4"><label for="descripcion">Breve descripción:</label></span>

              <div class="form-group last mb-4">
                <input
                type="text"
                  class="form-control"
                  name="descripcion"
                  id="descripcion"
                  [(ngModel)]="expLab.descripcion"
                  required
                />
              </div>


              <div><p></p></div>
              <span class="mb-4"><label for="logo">Logo o imagen (URL):</label></span>

              <div class="form-group first">
                <input
                  type="text"
                  class="form-control"
                  name="logo"
                  id="logo"
                  [(ngModel)]="expLab.logo"
                  required
                />
              </div>

              <div><p></p></div>
              <input
                type="submit"
                value="Modificar"
                class="btn btn-block btn-primary"
              />

            </form>

            <!-- termina el FORM -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
