<div class="container px-4 py-5" id="icon-grid">
  <h2 class="pb-2 border-bottom"><a href="#" title="Nuevo" routerLink="/nuevoproyecto" *ngIf="estaLogueado"><i class="fa fa-plus-square text-success" ></i></a>  Proyectos realizados</h2>


    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5" style="margin-left: -52px;">




      <div class="col d-flex align-items-start" *ngFor="let Experiencia of expe">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"/></svg>
        <div>
          <h4 class="fw-bold mb-0">{{Experiencia.nombre}}</h4>
          <p>{{Experiencia.descripcion}}</p>
          <img src="{{Experiencia.logo}}" height="200" width="200">
          <p>

        <a href="#" title="Editar" routerLink="/editarproyecto/{{Experiencia.id}}"><i class="fa fa-edit text-primary" style="margin-right: 10px;" *ngIf="estaLogueado" ></i></a>
        <a href="#" title="Eliminar"><i class="fa fa-trash text-danger" (click)="delete(Experiencia.id)" *ngIf="estaLogueado"></i></a>

      </p>
        </div>
      </div>



  </div>
</div>
