<!doctype html>
<html lang="en">

  <head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>Portfolio Argentina Programa</title>


  </head>

  <body>

<main>


<header>

<app-header></app-header>

<app-banner></app-banner>

</header>

<app-about></app-about>

  <div class="b-example-divider"></div>

   <div class="container px-4 py-5" id="hanging-icons">

    <app-experiencia></app-experiencia>


<app-educacion></app-educacion>

<app-habilidades></app-habilidades>

    </div>


<app-proyectos></app-proyectos>


</main>

  </body>

</html>

<router-outlet></router-outlet>
